.dropdown_mini {
    min-width: 130px !important;
    min-height: 28px !important;
    padding: 6px 12px 6px 6px !important;
    margin-right: 5px !important;

    .dropdown.icon {
        padding: 6px !important;
    }
    
}
