<div class="background">

    <div class="ui container">




        <div class="ui horizontal section divider">{{categoryName}}</div>



        <div class="ui horizontal section divider">Web Devlopment Client </div>

        <div class="row">

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card" (click)="categoryDetail('Programme','Html')">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Html 5</mat-card-title>
                        <mat-card-subtitle>Web 개발의 이해 Step1.</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/Html.png">
                        </div>

                    </mat-card-content>

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                        <i class="thumbs up icon"></i> 12
                                    </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>



                </mat-card>
            </div>

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card" (click)="categoryDetail('Programme','Css')">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>CSS</mat-card-title>
                        <mat-card-subtitle>Web 개발 디자인의 이해 Step2.</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/css.png">
                        </div>

                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card" (click)="categoryDetail('Programme','Javascript')">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Javascript + jQuery</mat-card-title>
                        <mat-card-subtitle>Web 개발 이벤트의 이해 Step3.</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image-wide" src="assets/contents_icon/js-jquery.png">
                        </div>

                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Bootstrap</mat-card-title>
                        <mat-card-subtitle>Web UI</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/bootstrap.png">
                        </div>

                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Wordpress</mat-card-title>
                        <mat-card-subtitle>블로그 개발</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/wordpress.png">
                        </div>

                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>


            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>SCSS</mat-card-title>
                        <mat-card-subtitle>Web 개발 디자인의 이해(심화) Step3.</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/scss.png">
                        </div>

                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>



            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Angular</mat-card-title>
                        <mat-card-subtitle>Web Client 단 개발의 이해</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle small centered aligned image custom-image" src="assets/contents_icon/angular.png">
                        </div>

                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>









            <!-- <mat-spinner *ngIf="loadingState"></mat-spinner> -->


        </div>

        <div class="ui horizontal section divider">Server Devlopment </div>
        <div class="row">

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>NodeJs</mat-card-title>
                        <mat-card-subtitle>NodeJS : NPM package</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/nodejs.png">
                        </div>
                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>


            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>php</mat-card-title>
                        <mat-card-subtitle>php server</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/php1.png">
                        </div>
                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>mysql</mat-card-title>
                        <mat-card-subtitle>database 의 이해</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/mysql.png">
                        </div>
                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>




        </div>


        <div class="ui horizontal section divider">Mobile Development </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Flutter</mat-card-title>
                        <mat-card-subtitle>One Source</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/flutter.png">
                        </div>
                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Kotlin</mat-card-title>
                        <mat-card-subtitle>One Source</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/kotlin.png">
                        </div>
                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Android</mat-card-title>
                        <mat-card-subtitle>One Source</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/android.png">
                        </div>
                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>




        </div>

        <div class="ui horizontal section divider">Game Development </div>

        <div class="row">

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Blender</mat-card-title>
                        <mat-card-subtitle>3D 모델링</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/blender.png">
                        </div>
                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>

                </mat-card>
            </div>

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <mat-card class="contents-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Unity</mat-card-title>
                        <mat-card-subtitle>게임 개발</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="imgBox">
                            <img class="ui middle aligned small image custom-image" src="assets/contents_icon/unity.png">
                        </div>
                    </mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-footer">
                                <small class="text-muted">
                                    <div class="col-12">
                                        <span class="col-4">
                                            <i class="book icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="eye icon"></i> 12
                                        </span>
                                        <span class="col-4">
                                            <i class="share alternate icon"></i> 12
                                        </span>
                                        <!-- <span class="col">
                                            <i class="thumbs up icon"></i> 12
                                        </span> -->
                                    </div>


                                </small>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

        </div>





    </div>
</div>